/* @font-face { */
/*     font-family: 'DejaVu Sans'; */
/*     src:  url('lib/DejaVuSans.ttf') format('truetype'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/*     color: black; */
/* } */


body {
    font-family: 'DejaVu Sans';
    /* box-shadow: inset 0 2px 0px #dcffa6, 0 2px 5px #000; */
    /* margin: 2px; */
    /* margin-bottom: 5px; */
    margin: 0;
    /* height: 100%; */
    /* min-height: 600px; */
    height: 100%;
    background: none repeat scroll 0 0 #ffffee;
    color: #333;
    overflow-y: hidden;
    overflow-x: hidden;
}

html {
    margin: 0;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    height: 100%;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#container {
    height: 100%;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    padding: 10px;
}


b {
    color: maroon;
}

p {
    margins: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 3px;
}

.text {
    font-family: 'DejaVu Sans';
    /* color: #fff; */
    /* background-color: #8aba87; */
    /* text-align: center; */
    font-size: 26px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
    -webkit-app-region: drag;
    /* position: relative; */
    /* margin-right: 15px; */
}

#text:focus{
    outline: none;
}

#results {
    font-family: 'DejaVu Sans';
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    /* position: relative; */
    /* line-height: 16px; */
}

.laoshi-close {
    float: right;
    cursor: pointer;
    margin-top: -3px;
    margin-right: 3px;
    font-size: 20px;
    -webkit-app-region: no-drag;
}


.laoshi-form {
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.laoshi-current {
    background-color: grey;
}

#laoshi-morphs {
    font-family: 'DejaVu Sans';
    font-size: 18px;
    margin-left: 25px;
    margin-top: 10px;
    color: maroon;
}

.underlined {
    border-bottom: 2px solid white;
    /* border-bottom-color: green; */
}

.tree-leaf {
    text-indent: 2em;
    padding-top: 3px;
    font-size: 16px;
}


.dict-pos {
    font-size: 16px;
    color: maroon;
    padding-left: 20px;
    cursor: pointer;
}

.black {
    color: black;
}

.tree {
    margin-top: 1em;
}

.link {
    color: maroon;
    cursor: pointer;
}

.hidden {
    display: none;
}

.help-menu {
    float: right;
    width: 200px;
    margin-left: 25px;
    padding: 5px;
    background-color: #e6ffff;
}

.help-row {
    margin: 0;
}

.help-row:hover {
    background-color: #8aba87;
}

#book {
    margin-left: 50px;
}

.seg {
    cursor: pointer;
}

.seg:hover {
    /* background-color: #8aba87; */
    background-color: grey;
}

.ambi {
    cursor: pointer;
    background-color: white;
    color: black;
}

.ambi:hover {
    background-color: grey;
}

.clause {
    position: relative;
}

/* .clause > * { */
/*     position: absolute; */
/* } */

#ambis {
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* background-color: #8aba87; */
    /* color: white; */
    /* line-height: 24px; */
    background-color: white;
    color: black;
    display: 'block';
    padding: 3px;
    position: absolute;
    z-index: 1000;
    box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
    /* box-shadow: 0 0 10px 1px rgba(0,0,0,.3); */
    height: auto;
    top: 250px;
    left: 300px;
    font-family: 'DejaVu Sans';
    font-size: 26px;
    padding: 3px;
}

.dict {
    font-size: 26px;
    padding: 10px;
    color: maroon;
}

.trns {
    line-height: 16px;
    padding: 10px;
    margin-left: 25px;
}

#singles {
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* background-color: #8aba87; */
    /* color: white; */
    background-color: white;
    color: black;
    /* line-height: 24px; */
    display: 'block';
    padding: 3px;
    position: absolute;
    z-index: 1000;
    box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
    /* box-shadow: 0 0 10px 1px rgba(0,0,0,.3); */
    height: auto;
    top: 250px;
    left: 300px;
    font-family: 'DejaVu Sans';
    font-size: 26px;
    padding: 3px;
}

#install-dict {
    padding: 10px;
    font-face: bold;
    font-size: 20px;
    margin-bottom: 15px;
    align-text: left;
}

.font16 {
    font-size: 16px;
}

.font26 {
    font-size: 26px;
}

#dict-name {
    padding: 10px;
    font-weight: bold;
}

.hom {
    margin-left: -25px;
}

.ex {
    margin-left: 25px;
    color: grey;
}

.type {
    float: right;
    color: maroon;
    margin-right: 25px;
    margin-top: 5px
}

.table {
    width: 75%;
}

.red {
    color: red;
}

.check {
    width: 12px;
    height: 12px;
}

.split {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gutter {
    background-color: #eee;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
}

.gutter.gutter-horizontal {
    background-image: url('./lib/sections/vertical.png');
    cursor: col-resize;
}

.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.dicts-list {
    /* border: 1px solid black; */
    background-color: #d3d3d3;
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
}

/* .dictname { */
/*     border: 2px solid black; */
/*     background-color: #8aba87; */
/*     width: 100%; */
/* } */

.dicts-list span {
    width: 50%;
    padding: 3px;
    color: maroon;
}

.dicts-list span:hover {
    background-color: grey;
}
